<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317566028844-5kostiu7dkeaqhjk28c66noboo7f1jgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317566028844-5kostiu7dkeaqhjk28c66noboo7f1jgf</string>
	<key>API_KEY</key>
	<string>AIzaSyDGWMkhuuldrN-iLIeAaEz3q97TjLmCqFI</string>
	<key>GCM_SENDER_ID</key>
	<string>317566028844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trong.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-101198</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-101198.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317566028844:ios:a2e47e9d96ab281d785589</string>
</dict>
</plist>